@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Lab3.Models.SongModel;

<h1 class= "p-5" >Mi canción favorita</h1>


<div>
   <label class= "p-5" style="width:300px">Nombre: </label>
   <label class= "border border-2 p-2" style="width:300px">@Model.Nombre</label>
</div>

<div>
   <label class= "p-5" style="width:300px">Artista: </label>  
   <label class= "border border-2 p-2" style="width:300px">@Model.Artista</label>
</div>

<div>
   <label class= "p-5" style="width:300px">Álbum: </label>  
   <label class= "border border-2 p-2" style="width:300px">@Model.Album</label>
</div>

<div>
   <label class= "p-5" style="width:300px">Género: </label>  
   <label class= "border border-2 p-2" style="width:300px">@Model.Genero</label>
</div>

<div>
   <label class= "p-5" style="width:300px">Fecha de estreno: </label>  
   <label class= "border border-2 p-2" style="width:300px">@Model.FechaEstreno </label>
</div>
