@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  
}

@model List<Laboratorio5.Models.PaisModel>;

<h1>@ViewBag.MainTitle</h1>

<div>
    <table class="table">
        <thread>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Idioma</th>
                <th>Continente</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Idioma</td>
                    <td>@item.Continente</td>
                </tr>
            }
        </tbody>
    </table>
</div>
